.outputField{
  resize: none;
  width: 820px;
  height: 200px;
  margin: 0 auto 20px auto;
  display: block;
}

.keyboard{
  width: 820px;
  height: 270px;
  border: 2px solid black;
  margin: 0 auto;
  background-color: grey;
  padding: 5px;
}

.button{
  width: 40px;
  height: 40px;
  border: 1px solid black;
  margin: 3px;
  padding: 3px;
  float: left;
  background-color: black;
  color: yellow;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover{
  background-color: rgb(243, 61, 91);
}

.button.active{
  background-color: aquamarine;
  color: black;
}

.button.remove{
  animation: button_animation .5s forwards;
}

@keyframes button_animation{
  0%{
    background-color: aquamarine;
    color: black;
  }

  100%{
    background-color: black;
    color: yellow;
  }
}

.backspace{
  width: 101px;
}

.tab{
  width: 47px;
}

.capslk{
  width: 94px;
}

.enter{
  width: 101px;
}

.shift{
  width: 98px;
}

.space{
  width: 362px;
}

.ctrl{
 width:45px ;
}


.info{
  font-size: 24px;
}




